
body {
    font-family: 'Segoe UI';
    background-color: #f4f7f6;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 14px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.toggle-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.toggle-text a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

    display: none;
}
